html {
  font-size: 16px;
}
body {
  font-family:"Microsoft YaHei",微软雅黑,Arial,Helvetica,sans-serif,"宋体";
  background-color: rgba(240,248,255,.5);
}
ol, ul {
  list-style: none;
}

.container {
  @include clearfix();
  margin: 0 auto;
  width: $container-width;
  background-color:#FFF;
}
