// global
$container-width: 1000px;

// header
$topbar-height: 30px;

// content
$public-content-width: ($container-width * 2 / 3) ;
$public-sidebar-width: ($container-width * 1 / 3) ;

// modal
$modal-width: 400px;
$modal-height: 300px;

